.heading {
    background-color:lightskyblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 1%;
    border: 2px solid black;
    text-align: center;
    padding: 1%;
    box-shadow: 10px 10px 5px darkblue;
    border-radius: 25px;
    font-size: medium;
    font-weight: bold;
    color: darkblue;
    text-shadow: 2px 2px 5px lightblue;
    height: 25%;
}
.header {
    background-color:lightgrey;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 1%;
    border: 2px solid black;
    text-align: center;
    padding: 1%;
    box-shadow: 10px 10px 5px grey;
    border-radius: 25px;
    font-size: medium;
    font-weight: bold;
    color: black;
    text-shadow: 2px 2px 5px lightgrey;
    height: 25%;

}
.head {
    background-color:lightyellow;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 1%;
    border: 2px solid black;
    text-align: center;
    padding: 1%;
    box-shadow: 10px 10px 5px gold;
    border-radius: 25px;
    font-size: medium;
    font-weight: bold;
    color: darkgoldenrod;
    text-shadow: 2px 2px 5px lightyellow;
    height: 25%;
}

.heads {
    background-color:lightgreen;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 1%;
    border: 2px solid black;
    text-align: center;
    padding: 1%;
    box-shadow: 10px 10px 5px green;
    border-radius: 25px;
    font-size: medium;
    font-weight: bold;
    color: darkgreen;
    text-shadow: 2px 2px 5px lightgreen;
    height: 25%;
}
.sub-content {
     background-color:lightskyblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 1%;
    border: 2px solid black;
    text-align: center;
    padding: 1%;
    box-shadow: 10px 10px 5px darkblue;
    border-radius: 25px;
    font-size: medium;
    font-weight: bold;
    color: darkblue;
    text-shadow: 2px 2px 5px lightblue;
    height: 25%;
}
.sub-constent {
     background-color:lightgrey;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 1%;
    border: 2px solid black;
    text-align: center;
    padding: 1%;
    box-shadow: 10px 10px 5px grey;
    border-radius: 25px;
    font-size: medium;
    font-weight: bold;
    color: black;
    text-shadow: 2px 2px 5px lightgrey;
    height: 25%;

}
.sub-contento {
    background-color:lightyellow;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 1%;
    border: 2px solid black;
    text-align: center;
    padding: 1%;
    box-shadow: 10px 10px 5px gold;
    border-radius: 25px;
    font-size: medium;
    font-weight: bold;
    color: darkgoldenrod;
    text-shadow: 2px 2px 5px lightyellow;
    height: 25%;
}
.sub-contentz {
    background-color:lightgreen;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 1%;
    border: 2px solid black;
    text-align: center;
    padding: 1%;
    box-shadow: 10px 10px 5px green;
    border-radius: 25px;
    font-size: medium;
    font-weight: bold;
    color: darkgreen;
    text-shadow: 2px 2px 5px lightgreen;
    height: 25%;

}
.sub-contentz#box1 {
    background: rgb(52, 71, 52);
    border-radius: 8px;
    min-height: 40px;
    margin: 8px 0;
}

.sub-contentz#box2 {
    background: #336b48;
    border-radius: 8px;
    min-height: 40px;
    margin: 8px 0;
}

.sub-contentz#box3 {
    background: #12852e;
    border-radius: 8px;
    min-height: 40px;
    margin: 8px 0;
}

.sub-contentz#box4 {
    background: #14883b;
    border-radius: 8px;
    min-height: 40px;
    margin: 8px 0;
}

.sub-contentz#box5 {
    background: #56b66e;
    border-radius: 8px;
    min-height: 40px;
    margin: 8px 0;
    color: #fff;
}

.sub-contentz#box6 {
    background: #90e0a3;
    border-radius: 8px;
    min-height: 40px;
    margin: 8px 0;
    color: #000;
}